_build
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
#*.pdf
*.pyg
*.snm
*.synctex.gz
*.toc

*.log
*.swp
__pycache__
nohup.out

_build
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config/
configure
configure~
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
